.loginPage
  margin-top: 3%

.contentLoginPage
  border: 1px solid rgb(221, 219, 219)
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.responsiveImg
  max-width: 100%
  height: auto

.titleLogin
  text-align: center
  padding-top: 20px
  padding-bottom: 20px

.btnLogin
  padding:15
  border-radius: 15px

.createAccount
  margin-top: 15px
  font-size: small
