<div fxLayoutAlign="center center" class="registerPage" [@registerScreenAnimation]="registerScreenAnimation"
  (@registerScreenAnimation.done)="setBackToUnchecked()">

  <div fxFlex="95" fxFlex.lt-md="100" fxFlexFill fxLayout="row" class="contentregisterPage">
    <div fxLayout="row wrap">
      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxFlexAlign="stretch">
        <div fxLayout="column" fxFlexAlign="stretch">
          <img class="responsiveImg" src="assets/login.jpg" />
        </div>
      </div>

      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" class="mat-app-background" @handelTransition>
        <div fxLayout="column" fxLayoutAlign="center">
          <div fxLayout="row" fxLayoutAlign="center">
            <h1 class="title">Welcome To Candi Meter</h1>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div fxLayoutAlign="center">
              <mat-form-field fxFlex="60" fxFlex.lt-md="90" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email" matInput autofocus required>
                <mat-error *ngIf="registerForm.controls['email'].hasError('required')">email is required
                </mat-error>
                <mat-error
                  *ngIf="registerForm.controls['email'].hasError('pattern') && !registerForm.controls['email'].hasError('required')">
                  Please enter a valid email (example@gmail.com)
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayoutAlign="center">
              <mat-form-field fxFlex="60" fxFlex.lt-md="90" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" [type]="hide ? 'password' : 'text'" matInput required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint *ngIf="!registerForm.controls['password'].value">
                  * Minimum eight characters <br>
                  * Minimum one uppercase letter<br>
                  * Minimum one lowercase letter<br>
                  * Minimum one number</mat-hint>
                <mat-error *ngIf="registerForm.controls['password'].hasError('required')">password is
                  required
                </mat-error>
                <mat-error
                  *ngIf="registerForm.controls['password'].hasError('pattern') && !registerForm.controls['password'].hasError('required')">
                  Please enter a vaild password (Abcd1234)
                </mat-error>
              </mat-form-field>
            </div> <br><br>
            <div fxLayoutAlign="center">
              <mat-form-field fxFlex="60" fxFlex.lt-md="90" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input formControlName="confirmPassword" type="password" matInput [type]="hide ? 'password' : 'text'"
                  required>

                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">confirm password is
                  required
                </mat-error>
                <mat-error
                  *ngIf="registerForm.controls['confirmPassword'].hasError('MustMatch')&& !registerForm.controls['confirmPassword'].hasError('required')">
                  Password and confirm password not match
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayoutAlign="center">
              <div fxLayout="column">
                <button type="submit" mat-raised-button type="submit" color="primary" class="btnRegister"
                  (click)="toggle()">Register</button>
                <p class="Login" fxLayoutAlign="center">have an account? &nbsp;<a routerLink="/login"
                    (click)="toggle()">Login</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>