<div style="background-image: url('assets/welcome-background.jpg')" class="about">
  <p @side class="text-about" fxFlex="50" fxFlex.lt-md="100">
      Informatique is an Egyptian shareholding company with main premises in Cairo and
      a branch in Kuwait to manage the Gulf operations.
      The Company has been established on 2000.
  </p>
</div>

<div>
  <h1 class="title-field">Our Fields</h1>
  <div fxLayout="row wrap" @card-came-left fxLayoutAlign="center center">
    <div fxFlex="42" fxFlex.lt-md="90" class="card-field">
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="30" fxFlex.lt-md="100">
          <img src="assets/frontend.png" width="100%" height="auto" alt="error field">
        </div>
        <div fxLayout="column" fxFlex="90" class="card-content">
          <h3 class="no-margin">Front-End</h3>
          <p class="no-margin">Front end developer duties include striking a balance between
            functional and aesthetic design, and ensuring web design is optimized for smartphones.<br>
            we use in this framework angular.</p><br>
          <div fxLayout="row">
            <p class="no-margin team">Our Team: &nbsp;</p>
            <p class="no-margin">Ali, Asmaa, Mohamed, Esraa.</p>
          </div>
          <button mat-raised-button color="primary" class="card-button">interviews</button>
        </div>
      </div>
    </div>

    <div fxFlex="42" fxFlex.lt-md="90" class="card-field">
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="30" fxFlex.lt-md="100">
          <img src="assets/backend.jpg" width="100%" height="auto" alt="error field">
        </div>
        <div fxLayout="column" fxFlex="90" class="card-content">
          <h3 class="no-margin">Back-End</h3>
          <p class="no-margin">Back end developers are responsible for creating and maintaining technology at the back end
            of a website (the server, database and application).<br>
            we use in this spring.</p><br>
          <div fxLayout="row">
            <p class="no-margin team">Our Team: &nbsp;</p>
            <p class="no-margin">Hayam, Ebrahim, Hasnaa, Zaki.</p>
          </div>
          <button mat-raised-button color="primary" class="card-button">interviews</button>
        </div>
      </div>
    </div>

    <div fxFlex="42" fxFlex.lt-md="90" class="card-field">
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="30" fxFlex.lt-md="100">
          <img src="assets/devops.jpeg" width="100%" height="auto" alt="error field">
        </div>
        <div fxLayout="column" fxFlex="90" class="card-content">
          <h3 class="no-margin">DevOps</h3>
          <p class="no-margin">A DevOps Engineer works with developers and the IT staff to oversee the code releases,
            combining an understanding of both engineering and coding. From creating and implementing systems software to
             analyzing data to improve existing ones, a DevOps Engineer increases productivity in the workplace.</p><br>
          <div fxLayout="row">
            <p class="no-margin team">Our Team: &nbsp;</p>
            <p class="no-margin">Hayam, Ebrahim, Hasnaa, Zaki.</p>
          </div>
          <button mat-raised-button color="primary" class="card-button">interviews</button>
        </div>
      </div>
    </div>

    <div fxFlex="42" fxFlex.lt-md="90" class="card-field">
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="30" fxFlex.lt-md="100">
          <img src="assets/Systems-analysis.jpg" width="100%" height="auto" alt="error field">
        </div>
        <div fxLayout="column" fxFlex="90" class="card-content">
          <h3 class="no-margin">Systems analysis</h3>
          <p class="no-margin">A systems analyst is a person who uses analysis and design techniques to solve
            business problems using information technology. Systems analysts may serve as change agents who identify
            the organizational improvements needed, design systems to implement those changes.</p><br>
          <div fxLayout="row">
            <p class="no-margin team">Our Team: &nbsp;</p>
            <p class="no-margin">Maram, Marawan, Zahraa, Amer.</p>
          </div>
          <button mat-raised-button color="primary" class="card-button">interviews</button>
        </div>
      </div>
    </div>

    <div fxFlex="42" fxFlex.lt-md="90" class="card-field">
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="30" fxFlex.lt-md="100">
          <img src="assets/testing.jpeg" width="100%" height="auto" alt="error field">
        </div>
        <div fxLayout="column" fxFlex="90" class="card-content">
          <h3 class="no-margin">Testing</h3>
          <p class="no-margin">A tester is an individual that tests software or similar projects for bugs, errors,
             defects or any problem that the end-user may come across.</p><br>
          <div fxLayout="row">
            <p class="no-margin team">Our Team: &nbsp;</p>
            <p class="no-margin">Hoda, Alaa, Amany, Rawan.</p>
          </div>
          <button mat-raised-button color="primary" class="card-button">interviews</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" class="footer">
  <div fxFlexAlign="baseline">
    <h3 class="footer-titles">fields</h3>
    <p class="footer-data">Frontend (Angular)</p>
    <p class="footer-data">Frontend (UI)</p>
    <p class="footer-data">Backend (Spring)</p>
  </div>
  <div fxFlexAlign="baseline">
    <h3 class="footer-titles">Branches</h3>
    <div class="footer-data">
      <p>Cairo</p>
      <p>Assuit</p>
    </div>
  </div>
</div>

<span class="material-icons icon-contact" routerLink="/main/contact">
  contact_mail
</span>
